body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 100px;
    width: 40vw;
    height: 60vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
    color: cornflowerblue;
}

#display {
    display: flex;
    padding: 8px;
    flex: 2;
    justify-content: flex-end;
    align-items: flex-end;
    
}

#row-one {
    display: flex;
    flex: 1;
    padding: 8px;
    min-height: 50px;
    border: 1px solid blue;
}

#row-two {
    display: flex;
    flex: 1;
    padding: 8px;
    min-height: 50px;
    border: 1px solid red;
}

#row-three {
    display: flex;
    flex: 1;
    padding: 8px;
    min-height: 50px;
    border: 1px solid yellow;
}

#row-four {
    display: flex;
    flex: 1;
    padding: 8px;
    min-height: 50px;
    border: 1px solid green;
}

#row-five {
    display: flex;
    flex: 1;
    padding: 8px;
    min-height: 50px;
    border: 1px solid pink;
}

.opBtn {
    border: 1px solid cornflowerblue;
    border-radius: 50pc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: large;
    background-color: orange;
}

.numBtn {
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 50pc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: large;
}